/* DISPLAY LETTER */

.display-letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px 80px;
    row-gap: 30px;
    font-family: var(--f-poppins);
}

/* GO BACK BUTTON */

.go-back-button {
    width: 900px;
}

.go-back-button-itself {
    width: 40px;
    height: 40px;
    color: white;
    font-family: var(--f-poppins);
    background-color: rgb(20,20,21);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border-radius: 0.5rem;
    border-top: 1px solid rgba(255,255,255,0.04);
    border-bottom: 1px solid rgba(255,255,255,0.03);
}

.go-back-button-itself-svg {
    --size: 20px;
    color: white;
    width: var(--size);
    height: var(--size);
}

.go-back-button-itself:hover {
    background-color: rgb(30,30,31);
}

/* DISPLAY LETTER TITLE */

.display-letter-title {
    width: 900px;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

/* DISPLAY LETTER PARAGRAPH */

.display-letter-paragraph {
    width: 900px;
    color: white;
    line-height: 30px;
    font-weight: 300;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .display-letter-title,
    .display-letter-paragraph,
    .go-back-button {
        width: 800px;
    }
}

@media (max-width: 1000px) {
    .display-letter-title,
    .display-letter-paragraph,
    .go-back-button {
        width: 600px;
    }
}

@media (max-width: 800px) {
    .display-letter-title,
    .display-letter-paragraph,
    .go-back-button {
        width: 100%;
    }
    .display-letter-title {
        font-size: 2rem;
    }
    .display-letter {
        padding-inline: 50px;
    }
}

@media (max-width: 500px) {
    .display-letter {
        padding-inline: 20px;
    }
}