@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --f-poppins: "Poppins", sans-serif;
    --f-afacad: "Afacad Flux", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10,10,11);
}

/* CONTAINER */

.container {
    display: flex;
    flex-direction: column;
}

/* ADD A LETTER BUTTON */

.sl-add-letter-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 0;
    background-color: rgb(25,25,26);
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.03);
    z-index: 998;
}

.add-letter-button-js > .sl-add-letter-button-svg {
    transform: rotateZ(45deg);
    color: red;
}

.sl-add-letter-button-svg {
    color: white;
    transition: transform 300ms, color 300ms;
}

.sl-add-letter-button:hover {
    background-color: rgb(28,28,29);
}

.sl-add-letter-button:active {
    background-color: rgb(21,21,22);
}

/* LETTER FORM */

.sl-form {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 11, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.sl-form-js {
    display: flex;
}

/* LETTER FORM ITSELF */

.sl-form-itself {
    width: 600px;
    padding: 15px;
    background-color: rgb(20,20,21);
    border-top: 1px solid rgba(255,255,255,0.03);
    border-bottom: 1px solid rgba(255,255,255,0.02);
    border-radius: 1rem;
}

.sl-form-itself label {
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: var(--f-poppins);
    line-height: 1cap;
}

.sl-form-itself-letter-title-input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 20px;
    border-radius: 0.3rem;
    border: 0;
    outline: none;
    background-color: rgb(15,15,16);
    padding-inline: 10px;
    color: white;
    font-family: var(--f-poppins);
    border: 1px solid rgba(255,255,255,0.04);
}

.sl-form-itself-letter-input {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 200px;
    border-radius: 0.5rem;
    border: 0;
    background-color: rgb(15,15,16);
    outline: none;
    color: white;
    padding: 10px;
    font-family: var(--f-poppins);
    margin-top: 4px;
    margin-bottom: 20px;
    border: 1px solid rgba(255,255,255,0.04);
}

/* .sl-form-itself-letter-input::-webkit-scrollbar {
    display: none;
} */

.sl-form-itself-letter-password-input {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 20px;
    border-radius: 0.3rem;
    border: 0;
    outline: none;
    background-color: rgb(15,15,16);
    padding-inline: 10px;
    color: white;
    font-family: var(--f-poppins);
    border: 1px solid rgba(255,255,255,0.04);
}

.sl-form-itself-letter-save-button {
    width: 100%;
    height: 45px;
    font-size: 1rem;
    font-family: var(--f-poppins);
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: 0;
    color: white;
    background-color: rgb(27,27,28);
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.02);
}

.sl-form-itself-letter-save-button:hover {
    background-color: rgb(33,33,34);
}